.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img{
    cursor: pointer;
}

.profile{
    border-radius: 20px;
    padding: 20px;
    color: #f0f0f0;
    width: 90%;
    background: #22215B;
    text-align: center;
    line-height: 15px;
}

.profile p{
    font-weight: 300;
    line-height: 20px;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid div{
    border-radius: 10px;
    width: 150px;
    height: 125px;
}

.child1, .child2, .child3, .child4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.8s;
}

.child1:hover, .child2:hover, .child3:hover, .child4:hover{
    opacity: 0.5;
}


.gridImages{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid h3{
    font-weight: 500;
    font-size: 16px;
}

.grid p{
    font-weight: 300;
    font-size: 12px;
}

.child1{

    background: #EEF7FE;
}

.child2{
    background: #FFFBEC;
}

.child3{
    background: #FEEEEE;
}

.child4{
    background: #F0FFFF;
}

.documents{
    margin-top: 5px;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.document{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    margin-left: 20px;
    line-height: 0;
}

.text h4{
    font-weight: 500;
    font-size: 16px;
}

.documents p{
    font-weight: 300;
    font-size: 12px;
}

.wordIcon{
    width: 42px;
    height: 42px;
}