.container{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.header{
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header img{
  cursor: pointer;
}

.settings{
  width: 100%;
  max-width: 700px;
  margin-top: 30px;
  margin-left: 30px;
  line-height: 30px;
}

.options{
  cursor: pointer;
  transition: color 0.3s;
}

.options:hover{
  color: #cacaca;
}

.advanced{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.advanced h4{
  width: 80%;
}

@media (min-width: 1440px){
  .container{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}