.container{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.header{
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header img{
  cursor: pointer;
}

.settings{
  margin-top: 30px;
  margin-left: 30px;
  line-height: 30px;
}

.options{
  cursor: pointer;
}

.advanced{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.advanced h4{
  width: 80%;
}