.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
}

.header{
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header img{
  cursor: pointer;
}

.settings{
  width: 80%;
  max-width: 700px;
  margin-top: 30px;
  line-height: 30px;
}

.title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.options{
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s;
  transition: background-color 0.5s;
  border-radius: 10px;
}

.options:hover{
  color: #f0f0f0;
  background-color: #212121;
}

.advanced{
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.advanced h4{
  width: 80%;
}

@media (min-width: 1440px){
  .container{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}