.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -350px;  
}

.form{
    margin-top: 70px;
    margin-left: -15px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h2{

}

.form input{
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    max-width: 280px;
    width: 80%;
    padding: 12px;
}

.email{
    margin-top: 20px;
}

.password{
    margin-top: 20px;
}

.signUp{
    max-width: 280px;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
    color: #f0f0f0;
    font-weight: bold;
    cursor: pointer;

    height: 50px;
    width: 80%;
    background-color: #567DF4;
    transition: background-color 0.3s;
}

.signUp:hover{
    background-color: #567df4bb;
}

.options{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options p{
    font-size: 12px;
    font-weight: 300;
}

.images{
    margin-top: 10px;
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instagram, .twitter, .facebook{
    cursor: pointer;
}